* {
    background-color: black;
    color: aqua;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-size: 23px;
}

logo {
    display: flex;
    justify-content: center;
}

nav {
    height: 5vh;
    background-color: darkslategray;
    display: flex;
    border: 2px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.komi {
    text-align: left;
}

b {
    text-align: center;
}

.marginleft2 {
    margin-right: 200px;

}

